<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="~/Areas/Admin/Content/style/styleLogin.css" rel="stylesheet" />
</head>
<body>
    <div class="center">
        @RenderBody()
    </div>

</body>
</html>